:root{
  --color-primary: #A8D5BA;
  --color-secondary: #F4F9F4;
  --color-accent: #5C9E7D;
  --color-text-dark: #333;
  --color-text-light: #fff;
  --color-highlight: #FFD580;
  --color-unset: #bdbdbd;
}
