body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-secondary);
  color: var(--color-text-dark);
}

button{
  background-color: var(--color-accent);
  color: var(--color-text-light);
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  background-color: var(--color-primary);
  color: var(--color-text-dark);
}
.boss-container {
  text-align: center;
  padding: 20px;
}

.boss-menu {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.boss-section {
  margin-top: 20px;
}

/* Asistencia semanal */
.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  justify-items: center;
  max-width: 400px;
  margin: 0 auto;
}

.day-box {
  background-color: #ddd;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  width: 50px;
  text-align: center;
  transition: 0.3s;
}

.day-box.active {
  background-color: var(--color-accent);
  color: white;
}

/* Menú semanal */
.menu-week {
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

.menu-day {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

select {
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.theme-toggle {
  width: 60px;
  height: 30px;
  background: #3b4c63;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s ease;
}

.theme-toggle.dark {
  background: #c9a44d;
}

.theme-toggle .toggle-icon {
  width: 22px;
  height: 22px;
  background-color: #f4d47a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  position: absolute;
  left: 5px;
  transition: transform 0.3s ease;
}

/* Cuando está en modo oscuro, mover la bolita hacia la derecha */
.theme-toggle.dark .toggle-icon {
  transform: translateX(30px);
  background-color: #2c2c2c;
  color: white;
}