.weekly-calendar {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.day {
  padding: 8px 14px;
  border-radius: 6px;
  border: 1px solid var(--color-accent);
  background: var(--color-unset);
  cursor: pointer;
  transition: 0.3s;
}

.day.active {
  background: var(--color-accent);
}
